@model IEnumerable<EntityCRUD.Models.Product>
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">*@

    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    @*<link href="style.css" rel="stylesheet" />*@
    <style>
        /* #div1 {
            margin-right: 30px;
            margin-left: 30px;
        }*/
        body {
            font-family: Arial;
        }

        * {
            box-sizing: border-box;
        }

        div.example input[type=search] {
            padding: 10px;
            font-size: 17px;
            border: 1px solid grey;
            float: left;
            width: 80%;
            background: #f1f1f1;
        }

        div.example button {
            float: left;
            width: 20%;
            padding: 10px;
            background: #2196F3;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none;
            cursor: pointer;
        }

            div.example button:hover {
                background: #0b7dda;
            }

        div.example::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>

</head>
<body>
    <div>
        <h1 align="center"><u><i>Product List</i></u></h1>
    </div>
    <br />



    @*<div class="text-xl-right md-form box" id="div1">
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                <i class="fade fa-search" aria-hidden="true"></i>

                @Html.TextBox("searching", null, new { @class = "form-control", @placeholder = "Please Search Here..." }) <br />

            }
        </div>*@
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <div class="example" style="margin:auto;max-width:300px">
            <input type="search" placeholder="Search.." name="searching" id="searching" class="rounded-pill">
            <button type="submit" class="rounded-pill"><i class="fa fa-search"></i></button>
        </div>
    }


    <div class="form-group" align="center">
        @Html.ActionLink("Create New", "Create")
    </div>
    <br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                <th colspan="4">Operations</th>
            </tr>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="4" align="center">No Result Found..</td>
                </tr>
            }
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.Name)</td>
                    <td>@Html.DisplayFor(model => item.Quantity)</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
